In [24]:
import pandas as pd
import numpy as np
import openpyxl

In [6]:
df = pd.read_csv('./df.csv')
df

    Plug Number  Number of plants  Average spread
0           1-1                 3       49.660035
1           2-1                 2       20.840166
2           3-1                 1        0.000000
3           4-1                 5       80.215347
4           5-1                 6       77.741061
..          ...               ...             ...
145        26-5                 3       56.169160
146        27-5                 3       54.824038
147        28-5                 2       59.992708
148        29-5                 3       44.985488
149        30-5                 1        0.000000

[150 rows x 3 columns]

In [13]:
dfbest = df.loc[df['Number of plants'].isin([5,6])]
dfbest = dfbest.sort_values(by=['Average spread'],ascending=False)

In [14]:
df2best = df.loc[df['Number of plants'].isin([7,8])]
df2best = dfbest.sort_values(by=['Average spread'],ascending=False)

In [21]:
dfuseable = df.loc[df['Number of plants'].isin([5,6,7,8])]
dfuseable = dfuseable.sort_values(by=['Number of plants','Average spread'],ascending=[True,False])
dfuseable = dfuseable.reset_index()
dfuseable = dfuseable.drop(['index'],axis=1)
dfuseable

   Plug Number  Number of plants  Average spread
0         25-3                 5      101.624401
1         22-2                 5       99.383936
2         17-2                 5       97.135993
3         19-5                 5       92.334024
4         28-3                 5       86.747741
5         26-4                 5       83.770817
6         18-3                 5       81.545148
7         25-4                 5       80.897312
8         24-4                 5       80.755312
9          4-1                 5       80.215347
10        14-5                 5       79.828604
11        16-2                 5       79.222224
12         6-2                 5       76.585983
13        10-4                 5       76.532087
14         9-1                 5       65.991219
15         2-4                 5       65.784075
16        19-3                 5       63.791901
17        23-2                 5       62.907292
18        20-3                 5       60.720348
19        12-2                 5       60.701600
20         5-4                 5       59.650614
21        11-1                 5       56.808843
22         1-3                 5       49.420756
23        26-2                 5       39.674813
24        18-1                 6      112.541789
25        17-1                 6       97.345056
26        20-4                 6       93.221829
27        24-1                 6       92.354554
28        14-3                 6       91.952814
29        25-2                 6       90.870162
30         4-4                 6       90.349294
31        11-4                 6       88.802649
32        14-1                 6       87.723414
33        23-4                 6       78.774628
34         8-4                 6       77.854225
35         5-1                 6       77.741061
36         5-2                 6       74.683287
37        12-3                 6       73.587539
38        22-1                 6       72.615560
39        19-4                 6       70.969804
40         8-1                 6       70.507763
41        10-1                 7       90.974623
42        12-1                 7       85.103063
43        18-2                 7       81.188079
44        15-3                 7       78.514294
45        29-1                 7       72.964093
46        11-3                 7       69.871155
47         9-2                 7       64.857217
48        28-4                 7       34.435289
49        15-1                 8      101.686035
50        17-3                 8       85.703275
51         2-3                 8       80.572795
52         9-3                 8       80.252421
53        20-2                 8       80.190538
54         7-2                 8       68.739309

In [25]:
dfuseable.to_excel("Useable plugs2.xlsx",
             sheet_name='Sheet_name_1')