In [15]:
import pandas as pd
import openpyxl as pyxl

In [18]:
wb = pyxl.load_workbook('../RALrgb.xlsx')
ws = ws = wb['RALpcolor']
df = pd.DataFrame(ws.values)
df

           0        1        2        3                    4
0    Column1  Column2  Column3  Column4              Column5
1       1000      214      199      148     GreenBeige Green
2       1001      217      186      140           Beige Grey
3       1002      198      166      100     SandYellow Brown
4       1003      229      190        1  SignalYellow Yellow
..       ...      ...      ...      ...                  ...
209     9016      246      246      246   TrafficWhite White
210     9017       30       30       30   TrafficBlack Black
211     9018      215      215      215    PapyrusWhite Grey
212     9022      156      156      156  PearlLightGrey Grey
213     9023      130      130      130   PearlDarkGrey Grey

[214 rows x 5 columns]

In [19]:
df.columns = ["RAL code","r","g","b","Name"]
df

    RAL code        r        g        b                 Name
0    Column1  Column2  Column3  Column4              Column5
1       1000      214      199      148     GreenBeige Green
2       1001      217      186      140           Beige Grey
3       1002      198      166      100     SandYellow Brown
4       1003      229      190        1  SignalYellow Yellow
..       ...      ...      ...      ...                  ...
209     9016      246      246      246   TrafficWhite White
210     9017       30       30       30   TrafficBlack Black
211     9018      215      215      215    PapyrusWhite Grey
212     9022      156      156      156  PearlLightGrey Grey
213     9023      130      130      130   PearlDarkGrey Grey

[214 rows x 5 columns]

In [20]:
df = df.drop(0)
df

    RAL code    r    g    b                 Name
1       1000  214  199  148     GreenBeige Green
2       1001  217  186  140           Beige Grey
3       1002  198  166  100     SandYellow Brown
4       1003  229  190    1  SignalYellow Yellow
5       1004  205  164   52  GoldenYellow Yellow
..       ...  ...  ...  ...                  ...
209     9016  246  246  246   TrafficWhite White
210     9017   30   30   30   TrafficBlack Black
211     9018  215  215  215    PapyrusWhite Grey
212     9022  156  156  156  PearlLightGrey Grey
213     9023  130  130  130   PearlDarkGrey Grey

[213 rows x 5 columns]

In [21]:
df.to_csv('../RALrgbDF.csv')